buildozer==1.5.0
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.4.4
Cython==3.2.1
distlib==0.4.0
docutils==0.22.3
filelock==3.20.0
gevent==25.9.1
greenlet==3.2.4
idna==3.4
Kivy==2.3.0
Kivy-Garden==0.1.5
pexpect==4.9.0
platformdirs==4.5.0
ptyprocess==0.7.0
Pygments==2.19.2
requests==2.31.0
sh==2.2.2
urllib3==2.0.7
virtualenv==20.35.4
websocket==0.2.1
zope.event==6.1
zope.interface==8.1.1
